<nav class="navbar navbar-dark bg-dark px-4">
  <a class="navbar-brand" routerLink="/admin/dashboard">Admin Panel</a>
  <ul class="navbar-nav flex-row gap-4 ms-auto">
     <li class="nav-item"><a class="nav-link text-white" routerLink="/admin/dashboard">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/admin/products">Listed items</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/admin/pending-items">Approve listed items</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/admin/users">Users</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/admin/all-bookings">All bookings</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/admin/all-payments">All payments</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/admin/broadcast-message">broadcast-message</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/admin/categories">Categories</a></li>
    <li class="nav-item"><a class="nav-link text-white" routerLink="/admin/kyc-requests">KYC</a></li>
      <button class="btn btn-outline-light btn-sm" (click)="logout()">Logout</button>
  </ul>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-white py-3 mt-4">
  <div class="container text-center">
    <span>&copy; 2025 YourAppName. All rights reserved.</span>
  </div>
</footer>
