.navbar-nav .nav-link {
  font-weight: 500;
  margin: 0 1rem;
  font-size: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

:host {
  display: block;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
}
