<div class="search-section d-flex justify-content-center align-items-center"
  [ngStyle]="{ 'background-image': 'url(assets/images/bg-img.png)' }"
  style="height: 80vh; background-size: cover; background-position: center;">
  <form (ngSubmit)="onSearch()" class="w-50">
    <div class="input-group rounded-pill overflow-hidden shadow p-3 bg-white">

      <input type="text" class="form-control border-0" placeholder="Search for products..." [(ngModel)]="searchKeyword"
        name="keyword" aria-label="Search keyword" />
      <select class="form-select border-0" [(ngModel)]="selectedLocation" name="location" aria-label="Select location">
        <option value="" disabled>Select location</option>
        <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
      </select>

      <button type="submit" class="btn btn-danger d-flex align-items-center px-4 rounded-pill">
        <img src="assets/images/search-white.svg" alt="Search" style="width: 20px; height: 20px;" />
      </button>
    </div>
  </form>
</div>

<app-category-list></app-category-list>
<app-product-list></app-product-list>